{{ partial "head" . }}
{{ partial "nav" . }}
{{ partial "jumbotron" (dict "imageUrl" "/img/about/jumbotron.jpg" "title" "Outside Garden Beauty") }}

<div class="mw7 center ph3 pt4">

  {{ partial "media-block" (dict "heading" " Buy-back Guarantee" "text" "Fine hand-made artifacts are an investment. We believe so much in the value of our products that we guarantee our products will never go down in value. We <h3>guarantee to buy back</h3> every item we make for the price you paid. Limited editions carry with them a unique number per item insuring the buyer knows the  " "imageUrl" "/img/about/shade-grown.jpg") }}

  {{ partial "media-block-reverse" (dict "heading" "Origin Transparency" "text" "Single-origin products are foraged/grown or made within a single known geographic origin. Sometimes, this is a single piece of land or a specific collection of acreages from a single locale. In wine, this is known as appelation. 1 of 23 follows the same rules as the wine industry in guaranteeing for our customers they know exactly where their purchases come from.  " "imageUrl" "/img/about/single-origin.jpg") }}
  
  
  {{ partial "media-block-reverse" (dict "heading" "Limited Edition Value" "text" "Some 1 of 23 products come with a UNIQUE NUMBER per item that provides transparancy to the buyer as to how many of that specific lot were made and guarantees to the buyer that the item is unique and not a copy or forgery." "imageUrl" "/img/about/single-origin.jpg") }}

  {{ partial "media-block" (dict "heading" "Sustainable Foraging" "text" "We only sell Sustainable Products. We advocate making/foraging/farming in sustainable ways - focusing on an understanding of the local ecosystem, and respecting the relationships between organisms and their environment. A condition of membership in 1 of 23 for foragers/farmers/makers is to follow these rules." "imageUrl" "/img/about/sustainable-farming.jpg") }}

  {{ partial "media-block-reverse" (dict "heading" "Direct sourcing" "text" "Direct trade is a sourcing practice that Advocates direct and transparent communication between the end-user Buyer and the forager/farmer/maker Seller. 1 of 23 was formed to promote direct communication and price negotiation between them, and has built-in systems that encourage and incentivize quality." "imageUrl" "/img/about/direct-sourcing.jpg") }}

  {{ partial "media-block" (dict "heading" "Reinvest profits" "text" "We empower the LOCAL MAKER COMMUNITIES where our wildcrafted materials and products come from. We reinvest 1/4 of our profits into the lands and maker-spaces that produce our materials and products. Check out the communities we support and learn more about how we pay forward on our blog posts." "imageUrl" "/img/about/reinvest-profits.jpg") }}
</div>

{{ partial "footer" . }}
