{{ partial "head" . }}

{{ partial "nav" . }}

<div class="ph3 bg-off-white">
	<div class="center mw6 pv3">

		<img src="/img/logo.svg" alt="" class="db w4 center pv4">
		
		<p class="mt0">You made it to our website - thank you for your time. <br> Now lets get you a quote in real time. <br>Text "Get Quote" to 1-831-555-1212. <br> Out Chat Bot will chat with you / ask you the necessary questions we need to know about your job to give you the lowest price / and your reward in an INSTANT QUOTE in 3 minutes.</p>
		
		<p>If you a customer, We’d love to be in touch with you to talk about the 23 individual products and services that are part of our collective .<br>
			If you are a maker and want to participate in the selling collective, there is a waiting list.  and we would love the opportunity to converse with you about our vision, and conversation are what get you on the waiting list.<br>
			If you are a maker who wants to participate in the buying group that lowers your cost of raw materials, and have a question on any one of the materials we provide, you are always welcome to join the buying group. Please connect with us with any questions you may have on the materials, their origins, the values that go behind out purchasing. <br>
		<h2>234-231-6323</h2><br>
			We strive to grow and improve constantly and your feedback is valuable for us.<br> email us at info@1of23.com</p>

		<h3 class="f4 b lh-title mb2">How can I get…?</h3>
		<p>You can also use the form below for any inquiries about product availability, monthly subscriptions and for scheduling a 1-on-1 session with our makers. Don’t be shy, drop us a line!</p>

		<div class="flex-ns mb3">

			<div>
				<h4 class="f4 b lh-title mb2 primary">Locations</h4>
				<p>Santa Cruz - California;  Caligiari - Sardinia</p>
			</div>

			<div>
				<h4 class="f4 b lh-title mb2 primary">Working hours</h4>
				<p>Thursday – Monday: 8AM P.S.T. – 8PM <br>We’re closed on Tuesday and Wednesdays </p>
			</div>

		</div>

		{{ partial "contact-form" . }}

	</div>
</div>

{{ partial "footer" . }}
