{{ partial "head" . }}
{{ partial "nav" . }}
{{ partial "jumbotron" (dict "imageUrl" "/img/about/jumbotron.jpg" "title" "Values") }}

<div class="mw7 center ph3 pt4">

  {{ partial "media-block" (dict "heading" "Guaranateed Buy-back" "text" "Fine artifacts are an investment, we believe so mucn in the value of our products, that we guarantee to buy back every item we make for the price paid. " "imageUrl" "/img/about/shade-grown.jpg") }}

  {{ partial "media-block-reverse" (dict "heading" "Waiting List" "text" "Sthis ongoing service enables people." "imageUrl" "/img/about/single-origin.jpg") }}

  {{ partial "media-block" (dict "heading" "Sustainable Making" "text" "S." "imageUrl" "/img/about/sustainable-farming.jpg") }}

  {{ partial "media-block-reverse" (dict "heading" "Direct sourcing" "text" ",." "imageUrl" "/img/about/direct-sourcing.jpg") }}

  {{ partial "media-block" (dict "heading" "Reinvest profits" "text" "We want to truly empower the local communities that where our wildcrafted materials come from. That’s why we reinvest 50% of our profits into farms, local businesses.." "imageUrl" "/img/about/reinvest-profits.jpg") }}
</div>

{{ partial "footer" . }}
